@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-zinc-800 text-slate-200;
  }
}

@layer components {

  .card-input {
    @apply block w-full px-3 py-1 mt-1 mb-4 border-2 border-transparent resize-none bg-violet-950 focus:outline-none focus:border-amber-800 rounded-sm
  }

  .quiz-input {
    @apply block w-full  px-3 py-1 border-2 border-transparent resize-none bg-violet-950 focus:outline-none focus:border-amber-800 rounded-sm
  }

  .code-btn {
    @apply border-b border-main-light disabled:bg-gray-700 inline-block outline-none
  }

  .code-empty-btn {
    @apply border-b border-main-light disabled:bg-gray-700 inline-block outline-none text-opacity-0 text-red-500
  }

  .btn {
    @apply px-6 py-2 text-sm shadow-md shadow-gray-700 bg-main-darkest rounded-xl hover:bg-violet-900 disabled:bg-gray-700 outline-none focus:bg-teal-900
  }

  .btn:active {
    transform: scale(0.9);
  }

  .modal-notify {
    @apply absolute flex items-center justify-center flex-col w-40 h-40 text-3xl transform -translate-x-1/2 -translate-y-1/2 bg-sky-800 top-1/2 left-1/2 rounded-3xl
  }

  .img-btn {
    position: relative;
    filter: brightness(1);
    transition: filter 0.2s;
    scale: 1;
    box-shadow: 2px 3px 5px rgb(100, 100, 100);
  }
  .img-btn:hover {
    filter: brightness(0.7);
  }

  .img-btn:active {
    filter: brightness(1);
    scale: 0.9;
  }

  .add-icon {
    bottom: 1rem;
    right: 1rem;
  }

  .main-container {
    @apply container p-4 mx-auto shadow-xl text-lime-200 bg-main-base rounded-2xl
  }

}